<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
<link rel="stylesheet" href="css/menu_style.css"/>
<link rel="stylesheet" href="css/styles.css" />
</head>
<body>

<div th:replace="header :: header">
</div>
<h2>User Management</h2>
<div th:insert="menu :: menu"></div>
<div class="container">
<br>
  <div layout:fragment="content">
  <br>
    <h3>User List</h3>
  <div>
     <ul>
         <li  th:each="user:${users}">
              <span th:text="${user.id}"></span>-
             <span th:text="${user.name}"></span>-
             <span th:text="${user.sex}"></span>-
             <span th:text="${user.createDate}"></span>
         </li>
     </ul>
   </div>

  </div>
  <div th:replace="footer :: footer">&copy; 2019 The Static Templates</div>
</div>

</body>
</html>